img {
  display: block;
  max-width: 100%;
  height: auto;
}

.country-card__title {
  font-size: 40px;
  text-align: center;
}
.country-card__info {
  display: flex;
}
.country-card__text-thumb {
  margin-right: 40px;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.cauntry-card__bold-text {
  font-weight: bold;
  font-size: 20px;
}
.country-card__text {
  font-size: 16px;
}
